.row {
  background: #ffffff;
  border: 1px solid #c7d0db;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  margin-top: 1em;
}

.rowButton {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.interstitial {
  width: 66%;
  background: #e0e6ed;
  border: solid 1px #a8b5c6;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 1.75rem;
  border-radius: 5px;
  margin: 5px;
}
