.displayContainer {
  background: white;
  border: 2px solid #eff2f6;
  border-radius: 5px;
  margin-top: 2.5rem;
  height: 33.33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
