@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.App {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
}
